@model ProjectManagement.Models.ApplicationUser
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
<h2>My Profile</h2>

<div class="mb-3">
    @if (!string.IsNullOrEmpty(Model.PicturePath))
    {
        <img src="@Model.PicturePath" alt="Profile Picture" width="150" class="img-thumbnail mb-3" />
    }
    else
    {
        <img src="/images/default-profile.png" alt="Default Profile Picture" width="150" class="img-thumbnail mb-3" />
    }
</div>

<div>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Phone:</strong> @Model.PhoneNo</p>
    <a asp-action="Edit" class="btn btn-primary">Edit Profile</a>
</div>
</div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
    </div>