@using Microsoft.AspNetCore.Identity
@using ProjectManagement.Models
@using System.Security.Claims
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager


@{

    string roleName = "";

    if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        var roleClaims = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToList();
        if (roleClaims.Any())
        {
            roleName = string.Join(", ", roleClaims);
        }
    }

}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul class="nav sidebar-menu flex-column"
            data-lte-toggle="treeview"
            role="navigation"
            aria-label="Main navigation"
            data-accordion="false"
            id="navigation">


                <li class="nav-header">PROJECT MANAGEMENT</li>

                @if (User.Identity != null && User.Identity.IsAuthenticated) {

    @if(User.IsInRole("SuperAdmin") || (User.IsInRole("Admin")))
    {
                    <li class="nav-item">
                        <a href="/Tasklist" class="nav-link">
                            <i class="nav-icon bi bi-card-checklist"></i>
                            <p>Task Lists</p>
                        </a>
                    </li>
    }
                    <li class="nav-item">
                        <a href="/AssignedTask" class="nav-link">
                            <i class="nav-icon bi bi-person-check-fill"></i>
                            <p>Assigned Tasks</p>
                        </a>
                    </li>


                    @if (User.IsInRole("SuperAdmin"))
                    {

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-shield-lock-fill"></i>
                                <p>
                                    Roles & Permissions
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Roles" class="nav-link">
                                        <i class="nav-icon bi bi-circle"></i>
                                        <p>Roles List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Roles/UserList" class="nav-link">
                                        <i class="nav-icon bi bi-circle"></i>
                                        <p>Assign Roles</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    }
                    <li class="nav-item">
        <a href="/Profile" class="nav-link">
            <i class="nav-icon bi bi-person-badge-fill"></i>
            <p>My Profile</p>
        </a>
    </li>
    }
                else

                {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                }
    </ul>
            <!--end::Sidebar Menu-->
        </nav>
        </div>
        
  
</aside>