
@model IEnumerable<ProjectManagement.Models.Tasklist>
@{
    ViewData["Title"] = "Tasks";
}
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
<h2>Tasks</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Task</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>
                    
                 
                        <a asp-action="Edit" asp-route-id="@item.TasklistId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.TasklistId">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>